@import url('https://fonts.googleapis.com/css2? family= Carter+One & family= Poppins:wght@100 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html{
    scroll-behavior: smooth;/*desplazamiento lento del menu de navegacion */
}

/* Personalizar la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    background-color: #f0f0f0; /* Color de fondo de la barra de desplazamiento */
}

/* Personalizar el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #333; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 6px; /* Borde redondeado del pulgar */
}

/* Personalizar el pulgar de la barra de desplazamiento cuando se pasa el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cambiar el color del pulgar al pasar el ratón por encima */
}

body{
    background: #dee1e2;
    min-height: 100vh;
    overflow-x: hidden;
    
}

header{
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
    z-index: 100; /* Asegura que el menú esté por encima de otros elementos */
    
}

.logo{
    color: #333;
    text-decoration: none;
    font-size: 2.0em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Carter One', cursive;
    text-align: center; 
    
}

.logo p{
	
	font-size: 8px;
	color: #333;
	font-family: 'Poppins', sans-serif;

}

.grupo{
    display: flex;
    align-items: center;

}

header ul{
    position: relative;
    display: flex;
    gap: 40px;
    
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    text-decoration: uppercase;
    letter-spacing: 0.2em;
    
}

header ul li a:before{
    content: " ";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
 
}

header ul li a:hover::before{
    transform:scaleX(1);
    transform-origin: left;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.texto{
    display: grid;
    width: 93%;
    height:50%;
    margin-top: 100px;
    margin-left: 40px;
    padding: 0;   
}

.texto p{
    font-size: 16px;
    font-family: 'Mooli', sans-serif;
    text-align: justify;
    
}

/*Terminan los estilos generales de las paginas*/

.svg{
    margin-top: 105px;
    margin-right: 20px;
    display: grid;
}

.svg > img{
    width: 674px;
    height: 383px;
}

.titulointo{
    font-family: 'Carter One', cursive;
    text-align: left;
    color: #0f172a;  
}



/* About */

.containerabout{
    text-align: center;
    display: grid;
    margin-top: 55px;
    background-color:white;
    
   
}

.containerabout p{
    font-family: 'Mooli', sans-serif;
    margin-top: 10px;
    
}

.tituloser{
    font-family: 'Carter One', cursive;
    text-align: center;
    color: #0f172a;  
    margin-top: 30px;
    font-size: 40px;
}

.destacado{
    color: rgb(16, 179, 243);
    font-family: 'Carter One', cursive;
}


.controlar-h2{
    font-family: 'Carter One', cursive;
    text-align: center;
    color: #0f172a;
    font-size: 35px;
}


.about__paragraph {
    line-height: 1.7;
}

.lisservis{
    text-decoration: none;
    
}
.chulo{
    color: black; 
    margin-right: 10px;

}

.lisservis li{
    margin-bottom: 20px;
    font-family: 'Carter One', cursive;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    margin-bottom: 54px;
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
 
    
}

.about__icon {
    width: 55px;
   
}


/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(img/background-footer.svg);
    background-size: cover;
   
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 26px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.logofooter{
    
    text-decoration: none;
    font-size: 2.0em;
    letter-spacing: 0.1em;
    font-family: 'Carter One', cursive;
    text-align: center; 
}

.logofooter p{
    font-size: 8px;
	font-family: 'Poppins', sans-serif;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
    font-family: 'Carter One', cursive;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
