/* Estilos globales para el cuerpo de la página */
body {
    display: grid;
    place-items: center;/* Centra los elementos hijos en el contenedor */
    height: 100vh; /* La página ocupa toda la altura del viewport */
    background: linear-gradient(45deg, #1a5276, #922b21); /* Fondo degradado */
    font-family: Arial, Helvetica, sans-serif; /* Fuente de texto */
    color: #fff; /* Color de texto en blanco */
}

/* Estilos para el contenedor principal de inicio de sesión */
.login {
    position: relative; /* Posición relativa para elementos internos */
    width: 360px;
    height: 360px;
    padding: 20px;
    border-radius: 10px;
    background: #303440; /* Fondo del contenedor */
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para la imagen de fondo del circuito en el contenedor principal */
.login:before,
.login__circuit-mask {
    content: ''; /* El contenido del pseudo-elemento sea una cadena de texto vacía*/
    position: absolute; /* Posición absoluta para superponer elementos */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido principal */
    top: 50%; /* Alineación vertical en el centro */
    left: 50%; /* Alineación horizontal en el centro */
    transform: translate(-50%, -50%); /* Centrar el elemento */
    display: block;
    width: 682px;
    height: 514px;
}

/*Se usa para insertar contenido o estilos visuales antes del contenido real de un elemento HTML5*/
.login:before {
    background: url(img/bg-circuito.svg); /*se utiliza para definir un fondo (background) */
}

/* Estilos para una máscara con el mismo patrón que la imagen de fondo */
.login__circuit-mask {
    display: grid;/*se utiliza para definir un elemento como un contenedor de cuadrícula*/
    place-items: center;
    -webkit-mask: url(img/bg-circuito.svg); /* Usar la imagen como máscara */
    mask: url(img/bg-circuito.svg); /*Se utiliza para aplicar una máscara a un elemento HTML*/
}

/* Estilos para el círculo animado en la máscara */
.login__circuit-mask:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00f0ff; /* Borde circular */
    animation: onda 8s infinite; /* Animación llamada "onda" */
    animation-delay: 2s; /* Retraso en la animación */
}

/*Los keyframes son un mecanismo que permite definir cómo un elemento cambia de estilo durante una animación. */
/* Definición de la animación "onda" */
@keyframes onda {
    0% {
        transform: scale(1); /* Escala inicial */
    }
    50% {
        transform: scale(8); /* Escala a la mitad de la animación */
    }
    100% {
        transform: scale(8); /* Escala final */
    }
}

/* Estilos para el encabezado en el contenedor principal */
.login__heading {
    text-align: center; /* Alinear texto al centro */
}

/* Estilos para el formulario dentro del contenedor principal */
.login form {
    padding: 0 40px;
    box-sizing: border-box; /* Incluir el relleno en el tamaño total */
}

/* Estilos para el campo de nombre de usuario */
form .username {
    position: relative; /* Posición relativa para elementos internos */
    border-bottom: 2px solid #adadad; /* Línea inferior */
    margin: 30px 0; /* Márgenes superior e inferior */
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #fffffe; /* Color de texto en blanco */
}

.username label {
    position: absolute;
    top: 50%; /* Alinear etiqueta en el centro verticalmente */
    color: #adadad; /* Color de etiqueta */
    transform: translateY(-50%); /* Ajustar verticalmente */
    font-size: 16px;
    pointer-events: none; /* Evitar que la etiqueta sea clickeable */
}

/* Estilos para el efecto de etiqueta flotante cuando se enfoca el campo de entrada */
.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px; /* Mover la etiqueta hacia arriba cuando se enfoca o contiene texto */
    color: white; /* Cambiar el color de la etiqueta a blanco */
}

/* Estilos para el enlace "recordar contraseña" */
.recordar {
    margin: -5px 0 20px 5px; /* Márgenes del enlace */
    color: blue; /* Color del enlace */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.recordar:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el mouse */
}

/* Estilos para el botón de envío del formulario */
#submit {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #6c3483; /* Color de fondo del botón */
    border-radius: 25px; /* Borde redondeado */
    font-size: 18px;
    color: #fff; /* Color de texto en blanco */
    cursor: pointer;
    outline: none; /* Eliminar el borde al enfocar */
}

/* Estilos para el texto "¿No tienes una cuenta?" */
.registro {
    margin: 30px 0; /* Márgenes superior e inferior */
    text-align: center; /* Alinear texto al centro */
    font-size: 16px;
}

/* Estilos para los enlaces dentro del texto "¿No tienes una cuenta?" */
.registro a {
    color: blue; /* Color de los enlaces */
    text-decoration: none; /* Eliminar la decoración de los enlaces */
}


.site-name {
    position: absolute;
    top: -85px; /* Mover hacia arriba para que esté parcialmente fuera */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
	color: yellow;
	font-family: 'Carter One', cursive;
	font-size: 50px;
}

.site-name p{
	
	font-size: 9px;
	color: white;
	font-family: Arial, Helvetica, sans-serif; /* Fuente de texto */
	margin: -15px;
	text-align: center;
	
}
